@page "/budget"
@inject HttpClient Http
@inject IMatDialogService MatDialogService

@if (budget != null)
{
<div class="mat-layout-grid">
    <h1 class="mb-5">Budget</h1>

    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
            <h4>Inkomster</h4>
            <MatTable Items="@budget.BudgetItems.Where(b => b.BudgetItemType == BudgetItemType.Income)" ShowPaging="false" PageSize="50" class="mat-elevation-z5">
                <MatTableHeader>
                    <th>Kategori</th>
                    <th>Summa</th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.Category.Name</td>
                    <td>@String.Format("{0:C2}", @context.Amount)</td>
                </MatTableRow>
            </MatTable>
            <MatButton OnClick="@(_=>OpenAddBudgetItemDialog(BudgetItemType.Income))">Lägg till inkomst</MatButton>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
            <h4>Utgifter</h4>
            <MatTable Items="@budget.BudgetItems.Where(b => b.BudgetItemType == BudgetItemType.Expense)" ShowPaging="false" PageSize="50" class="mat-elevation-z5">
                <MatTableHeader>
                    <th>Kategori</th>
                    <th>Summa</th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.Category.Name</td>
                    <td>@String.Format("{0:C2}", @context.Amount)</td>
                </MatTableRow>
            </MatTable>
            <MatButton OnClick="@(_=>OpenAddBudgetItemDialog(BudgetItemType.Expense))">Lägg till utgift</MatButton>
        </div>
    </div>
</div>
}

@code {
    private ExpenseTracker.Shared.Models.Budget budget;

    protected override async Task OnInitializedAsync() => await GetBudget();

    private async Task GetBudget() =>
        budget = await Http.GetFromJsonAsync<ExpenseTracker.Shared.Models.Budget>("https://localhost:44398/api/Budgets/Base");

    async Task OpenAddBudgetItemDialog(BudgetItemType budgetItemType)
    {
        try
        {
            BudgetItem result = (BudgetItem) await MatDialogService.OpenAsync(typeof(AddBudgetItemDialog), new MatDialogOptions());

            if (result == null)
                return;

            result.DateTime = new DateTime(0);
            result.BudgetItemType = budgetItemType;

            var response = await Http.PostAsJsonAsync<ExpenseTracker.Shared.Models.BudgetItem>
                ($"https://localhost:44398/api/Budgets/{budget.Id}/AddBudgetItem", result);

            if (response.StatusCode != System.Net.HttpStatusCode.Created)
                Console.WriteLine("Not created!");
            else
                await GetBudget();
        }
        catch (Exception e) 
        {
            Console.WriteLine(e.Message); 
        }
    }
}
